Django==5.2.6
gunicorn==23.0.0
psycopg2-binary==2.9.10
whitenoise==6.11.0
python-decouple==3.8
python-dotenv==1.1.1
pillow==11.3.0
django-jazzmin==3.0.1
django-filebrowser==4.0.3
django-grappelli==3.0.10
django-simple-captcha==0.6.2
django-tinymce==4.1.0
django-ckeditor==6.7.3
django-js-asset==3.1.2
django-ranged-response==0.2.0
django-ratelimit==4.1.0
dj-database-url==3.0.1
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
setuptools==80.9.0
cloudinary==1.44.2
django-cloudinary-storage==0.3.0
